{# Template fragment for comparing two runs. #}
<h3>Summary</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>&nbsp;</th>
            <th class="right">Number of function calls</th>
            <th class="right">Inclusive Wall time</th>
            <th class="right">Inclusive CPU</th>
            <th class="right">Inclusive Memory</th>
            <th class="right">Inclusive Peak Memory</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>
                <span class="badge compare-base">
                    base - {{ comparison.base.date|date(date_format) }}
                </span>
                <a target="_blank" href="{{ url('run.view', {id: comparison.base.id|trim}) }}">
                    {{ comparison.base.id }}
                </a>
            </th>
            <td class="right">{{ comparison.base.functionCount }}</td>
            <td class="right">{{ comparison.base.get('main()', 'wt') |as_time }}</td>
            <td class="right">{{ comparison.base.get('main()', 'cpu') |as_time }}</td>
            <td class="right">{{ comparison.base.get('main()', 'mu') |as_bytes }}</td>
            <td class="right">{{ comparison.base.get('main()', 'pmu') |as_bytes }}</td>
        </tr>
        <tr>
            <th>
                <span class="badge compare-head">
                    new - {{ comparison.head.date|date(date_format) }}
                </span>
                <a target="_blank" href="{{ url('run.view', {id: comparison.head.id|trim}) }}">
                    {{ comparison.head.id }}
                </a>
            </th>
            <td class="right">{{ comparison.head.functionCount }}</td>
            <td class="right">{{ comparison.head.get('main()', 'wt') |as_time }}</td>
            <td class="right">{{ comparison.head.get('main()', 'cpu') |as_time }}</td>
            <td class="right">{{ comparison.head.get('main()', 'mu') |as_bytes }}</td>
            <td class="right">{{ comparison.head.get('main()', 'pmu') |as_bytes }}</td>
        </tr>
        <tr>
            <th>Difference</th>
            <td class="right">{{ comparison.diff.functionCount }}</td>
            <td class="right">{{ comparison.diff['main()'].wt|as_time }}</td>
            <td class="right">{{ comparison.diff['main()'].cpu|as_time }}</td>
            <td class="right">{{ comparison.diff['main()'].mu|as_bytes }}</td>
            <td class="right">{{ comparison.diff['main()'].pmu|as_bytes }}</td>
        </tr>
        <tr>
            <th>Difference %</th>
            <td class="right">{{ comparison.diffPercent.functionCount|as_percent }}</td>
            <td class="right">{{ comparison.diffPercent['main()'].wt|as_percent }}</td>
            <td class="right">{{ comparison.diffPercent['main()'].cpu|as_percent }}</td>
            <td class="right">{{ comparison.diffPercent['main()'].mu|as_percent }}</td>
            <td class="right">{{ comparison.diffPercent['main()'].pmu|as_percent }}</td>
        </tr>
    </tbody>
</table>


<div class="pull-right form-search">
    <div class="pull-right form-search">
        <div class="btn-group">
            <input type="search" id="function-filter" placeholder="Type to filter by function name" />
            {{ helpers.help_popover("help-filter", "Help", "Type regular expression to dynamically filter functions in table below. No reload. Rows are hidden. Clear to reset.", "top") }}
        </div>
        {#      <a href="#" id="hide-internal" class="btn btn-default btn-small">#}
        {#          Hide internal functions#}
        {#      </a>#}
        <div class="btn-group">
            <a href="javascript:void(0);" id="" class="btn {% if function_filter is empty %}disabled{% endif %}" onclick="filterFunctons();">Apply function filter</a>
            {{ helpers.help_popover("help-apply-function-filter", "Help", "This button is disabled when required config entry is empty. Remove functions defined in config filter from table below. No reload needed. Rows are removed not hidden.", "top") }}
        </div>
        <div class="btn-group">
            <a href="#" id="customize-table" class="btn btn-primary">Apply numeric filters</a>
            {{ helpers.help_popover("help-apply-filters", "Help", "Filter table by numeric values. No reload needed. Rows are hidden. Can be applied multiple times to exclude on different metrics.", "top") }}
        </div>


        <div class="popover left" id="metric-popover">
            <div class="arrow"></div>
            <div class="popover-title">
                <h4 style="display: inline">Metric</h4>
                <a href="javascript:void(0)" onclick="$('#metric-popover').hide();" class="pull-right close">&times;</a>
            </div>

            <div class="popover-content">
                <div class="control-group">
                    <select name="metric">
                        <option value="ct">Call count</option>
                        <option value="ewt">Self Wall Time</option>
                        <option value="ecpu">Self CPU</option>
                        <option value="emu">Self Memory Usage</option>
                        <option value="epmu">Self Peak Memory Usage</option>
                        <option value="wt">Inclusive Wall Time</option>
                        <option value="cpu">Inclusive CPU</option>
                        <option value="mu">Inclusive Memory Usage</option>
                        <option value="pmu">Inclusive Peak Memory Usage</option>
                    </select>
                </div>
                <div class="control-group">
                    <label>
                        Threshold
                        <input type="number" name="threshold" value="1" step="1">
                    </label>
                </div>
                <div class="control-group">
                    <label>
                        Operator
                        <select name="operator">
                            <option value="lt">less than</option>
                            <option value="le">less than or equal</option>
                            <option value="gt">greater than</option>
                            <option value="ge">greater than or equal</option>
                            <option value="eq">equals</option>
                            <option value="ne">not equals</option>
                        </select>
                    </label>
                </div>
                <div class="btn-group">
                    <button class="btn btn-primary" title="Set new values to filter. Shows all rows and filters values again.">Filter</button>
                    <button class="btn btn-apply" title="Add new filter to current filters. Does not show hidden fields.">Add to filters</button>
                    <button class="btn btn-danger" title="Reset filters. Show all fields.">Reset</button>
                </div>
            </div>
        </div>
    </div>
</div>

<h3>Details</h3>

<table class="table table-hover table-sort" id="function-calls">
    <thead>
        <tr>
            <th>Function</th>
            <th>Call Count</th>
            <th>Self Wall Time</th>
            <th>Self CPU</th>
            <th>Self Memory Usage</th>
            <th>Self Peak Memory Usage</th>
            <th>Inclusive Wall Time</th>
            <th>Inclusive CPU</th>
            <th>Inclusive Memory Usage</th>
            <th>Inclusive Peak Memory Usage</th>
        </tr>
    </thead>
    <tbody>
        {% for key, value in comparison.diff %}
        <tr>
            <td class="text">
                <a href="{{ url('run.symbol', {'id': comparison.head.id|trim, 'symbol': key}) }}">{{ key }}</a>
            </td>
            <td class="right value-ct">{{ value.ct|as_diff }}</td>
            <td class="right value-ewt">{{ value.ewt|as_diff }}</td>
            <td class="right value-ecpu">{{ value.ecpu|as_diff }}</td>
            <td class="right value-emu">{{ value.emu|as_diff }}</td>
            <td class="right value-epmu">{{ value.epmu|as_diff }}</td>
            <td class="right value-wt">{{ value.wt|as_diff }}</td>
            <td class="right value-cpu">{{ value.cpu|as_diff }}</td>
            <td class="right value-mu">{{ value.mu|as_diff }}</td>
            <td class="right value-pmu">{{ value.pmu|as_diff }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<p>Red values are higher in 'new'. Green values are lower in 'new'.</p>
